In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
premise_file = "data_toSQL.csv"
premise_df = pd.read_csv(premise_file)
premise_df.head()

,Location,Giardiasis_2014,Giardiasis_2015,Giardiasis_2016,Giardiasis_2017,Giardiasis_2018
0,Alabama,162,156,206,192,182
1,Alaska,54,52,74,70,52
2,Arizona,108,105,127,137,144
3,Arkansas,108,104,124,156,117
4,California,1675,1716,2334,2634,2322

In [22]:
connection_string = "root:0318119@localhost/giardia_data5"
engine = create_engine(f'mysql://{connection_string}')

In [23]:
engine.table_names()

['giardia_data5']

In [26]:
premise_df.to_sql(name='giardia_data3', con=engine, if_exists='append', index=True)